# -----------------------------------------------------------
# aliases for bash
# -----------------------------------------------------------

# list (ls)
alias l='ls --colour=auto'
alias l='ls -l'
alias ll='ls -la'
alias lr='ls -ltr'
alias lh='ls -lh'

# tar
# usage: targz archive-name.tar.gz file-name
# usage: targz archive-name.tar.gz directory-name
alias targz='tar -zcvf'
alias untargz='tar -zxvf'
alias untar='tar -xvf'

# applications
alias sc='screen'

# git
alias gits='git status'
alias gitf='git fetch'
alias gitr='git rebase'
alias gitc='git commit'
alias gitp='git push'
alias gita='git add'
alias giturl='git config --get remote.origin.url'
alias gitls='git ls-files'
alias gitr='git rebase'
alias gitl='git log --stat'
alias gitll='git log -p'
alias gitlll='git log --pretty=oneline'
alias git_submodule_update='git submodule update --recursive'
alias git_submodule_init='git submodule update --recursive --init'
alias gitrs='git rebase ; git submodule update --recursive --init'
alias gitsrp='git stash ; gitrs ; git stash pop ; gits' # use carefully

# svn
alias svns='svn status'
alias svnsv='svn status | grep -v "^     K"' # not showing files that are only locked
alias svnl='svn log -v | less'
alias svnll='svn log | less'

# grep
alias grepw='grep -i "warning"'
alias grepe='grep -i "error"'
alias grepew='grep -i "warning\|error"'

# tmux
alias tmuxnew='tmux new -s' # usage: tmuxnew mysession
alias tmuxattach='tmux a -t' # usage: tmuxnew mysession
alias tmuxkill='tmux kill-session -t ' # usage: tmuxkill mysession

# scripts from the CLIA repository
alias gitclonelight='source $PATH_CLIA_SCRIPTS/gitclonelight.bash'

# history
alias h="history | sed 's/.\{7\}//'"
alias hg='h | grep'

# misc
alias ..='cd ..' # change directory
alias clem='rm -f *~' # remove *~ files (e.g., generated by gvim)
alias count='find . -type f | wc -l' # recursively count files
alias cpr='rsync -Pa' # copy with progress
alias kill='kill -9' # kill 'em all
alias bc='bc -l' # bc with real numbers
alias clean_checklist="sed -i '' 's/\[.\]/[ ]/g' " # usage: clean_checklist my_checklist.md

# cliapy
alias add_date='python3 $PATH_CLIA_SCRIPTS/add_date.py'

# marp
alias marphtml='marp --theme css/rose-pine-andrea.css --html' # usage: marphtml slides.md
alias marppdf='marp --theme css/rose-pine-andrea.css --html --pdf' # usage: marppdf slides.md
alias marppreview='marp --theme css/rose-pine-andrea.css --html --preview' # usage: marppreview slides.md

